.item {
  width: 30px;
  height: 40px;

  font-size: 20px;
  color: white;
  text-align: center;

  background-color: transparent;
  border: none;
  border-bottom: solid 2px rgb(20 181 230);
  outline: none;
}
