@import 'src/styles/mixins';

.root {
  all: unset;

  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;

  padding: 10px;

  background-color: rgb(100 77 237 / 8%);
  border: 0 solid transparent;
  border-radius: 15px;

  transition: all 0.2s linear;

  &:hover {
    box-shadow:
      4px 3px 5px rgb(0 0 0 / 2.5%),
      9px 7px 13px rgb(0 0 0 / 3.5%),
      18px 13px 25px rgb(0 0 0 / 4.5%),
      36px 26px 52px rgb(0 0 0 / 5.5%),
      99px 72px 143px rgb(0 0 0 / 8%);
  }

  &:focus-visible {
    @include animation-for-focus;

    box-shadow: 0 0 0 2px var(--color-info-100);
  }

  .text {
    all: unset;
  }

  .icon {
    all: unset;
  }
}
