@import 'src/styles/mixins';

button {
  all: unset;
}

.trigger {
  user-select: none;

  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-around;

  height: 35px;
  padding: 0 15px;

  font-size: 13px;
  line-height: 1;
  color: var(--color-light-100);

  background: #051f30;
  border-radius: 4px;

  &:hover {
    @include animation-for-focus;

    box-shadow: 0 0 6px var(--color-danger-100);
  }

  &:focus-visible {
    @include animation-for-focus;

    box-shadow: 0 0 0 2px var(--color-info-100);
  }

  &[data-placeholder] {
    color: var(--color-light-100);
  }

  .icon {
    transition: transform 0.3s ease;

    &[data-state='disabled'] {
      color: var(--color-dark-300);
    }
  }

  &[data-state='open'] {
    box-shadow: 0 0 1px var(--color-dark-100);

    .icon {
      transform: rotate(180deg);
    }
  }
}

.content {
  all: unset;

  overflow: hidden;

  min-width: var(--radix-select-trigger-width);

  opacity: 0.8;
  background: linear-gradient(#051f30, #313030);
  border-radius: 6px;
  box-shadow:
    0 10px 38px -10px rgb(22 23 24 / 35%),
    0 10px 20px -15px rgb(22 23 24 / 20%);

  &[data-state='open'] {
    animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;

    @keyframes scale-up-ver-top {
      0% {
        transform-origin: 100% 0;
        transform: scaleY(0.4);
      }

      100% {
        transform-origin: 100% 0;
        transform: scaleY(1);
      }
    }
  }

  .viewport {
    padding: 5px;
  }
}
