button {
  all: unset;
}

.trigger {
  display: inline-flex;
  gap: 5px;
  align-items: center;
  justify-content: center;

  height: 35px;
  padding: 0 15px;

  font-size: 13px;
  line-height: 1;
  color: var(--color-light-100);

  background: #051f30;
  border-radius: 4px;
  box-shadow: 0 2px 10px var(--color-danger-100);

  &:hover {
    background-color: grey;
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px black;
  }

  &[data-placeholder] {
    color: green;
  }
}

.content {
  overflow: hidden;
  background: linear-gradient(#051f30, #313030);
  border-radius: 6px;
  box-shadow:
    0 10px 38px -10px rgb(22 23 24 / 35%),
    0 10px 20px -15px rgb(22 23 24 / 20%);

  .viewport {
    padding: 5px;
  }
}
