@import 'src/styles/mixins';

.box {
  @include flex-center;

  gap: 15px;

  .root {
    touch-action: none;
    user-select: none;

    position: relative;

    display: flex;
    align-items: center;

    width: 200px;
    height: 20px;

    .track {
      position: relative;

      flex-grow: 1;

      height: 3px;

      background-color: var(--color-danger-700);
      border-radius: 9999px;

      .range {
        position: absolute;
        height: 100%;
        background-color: var(--color-info-300);
        border-radius: 9999px;
      }
    }

    .thumb {
      display: block;

      width: 12px;
      height: 12px;

      background-color: var(--color-info-700);
      border-radius: 10px;

      &:hover {
        transform: scale(1.2);
        transition: transform 0.3s;
      }

      &:focus-visible {
        @include animation-for-focus;

        outline: none;
        box-shadow: 0 0 0 2px var(--color-info-100);
      }
    }
  }

  .counter {
    @include flex-center;

    width: 20px;
    height: 20px;
  }
}
